#grid-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;

}

#row-container > div {
    flex: 1 1 auto;
}

.black {
    background-color: black;
}


div elements of grid container need to be 10px by 10px