body {

}
#grid-box {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 1000px;
    max-height: 1000px;
    aspect-ratio: 1/1;
}
#grid-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    border: 1px solid black;
}

.row-container {
    display: flex;
    flex: 1 1 auto;

}

.row-container > div {
    flex: 1 1 auto;
}

.black {
    background-color: black;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
    gap: 10px;
}

#create-grid {
    border-radius: 4px;
    background-color: dodgerblue;
    align-self: center;
}